* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body, .header {
  display: flex;
  flex-direction: column;
}

.navbar, .navbar-links, .header-content {
  display: flex;
}

.navbar, .header-content, .header {
  background-color: #1F2937;
}

.header {
  color: #F9FAF8;
  padding: 0 200px;
  height: 500px;
}

.navbar {
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.title {
  font-size: 48px;
}

.header-logo {
  font-size: 24px;
}

.title, .header-logo {
  font-weight: 900;
}

.header ul {
  list-style: none;
}

.header li {
  margin-left: 30px;
}

.navbar-links a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 200px;
  padding: 50px;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.image img {
  border-radius: 15px;
  border: 3px solid #3882F6;
}

.image {
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  color: #1F2937;
}

.info-section .text {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

/**/
/* .navbar {
  border: 1px solid red;
}

.header-content {
  border: 1px solid red;
} */